@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
  }

body{
    overflow: visible;
}


.texto {
    text-decoration: none;
    color: #173cb8;
    font-weight: 600;
}

.texto:hover, .txt:hover {
    color: #00218d;
}

.txt{
    text-decoration: none;
    color: #173cb8;
    font-weight: 600;
}

.txt:hover, .texto:hover{
    text-decoration:underline;
    font-weight: bold;
}

.btn1{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #FE33E5 !important;
    color: aliceblue;
    border-radius: 8px;
}

.btn1:hover{
    background-color: #de1ac7 !important;
    color: white;
    border: 1px solid;
    font-weight: bold;
    transition: 0.5s;
}

.SignUp{
    margin-bottom: 3rem !important;
    box-shadow: 4px 4px 10px black;
}

.SignIn{
    margin-top: 5rem !important;
    box-shadow: 4px 4px 10px black;
}

#boton1 {
    border: #0039f5;
    background-color: #0039f5;
    color: aliceblue;
    border-radius: 4px;
}

#boton1:hover{
    background-color: #00218d;
    color: white;
    border: 1px solid;
    transition: all 0.8s;
}

#boton2 {
    border: #757677;
    background-color: #757677;
    color: aliceblue;
    border-radius: 4px;
}

#boton2:hover{
    background-color: #48494b;
    color: white;
    border: 1px solid;
    transition: all 0.8s;
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    background-color: #1c23ab;
}

.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: #1c23ab;
}

.recup {
    text-align: end;
}

.container .row .col form #id_username, #id_password, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2{
    width: 100%;
    margin-bottom: 20px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}