
{% extends 'autenticacion/base.html' %}

{% block title %}Recuperar Contraseña{% endblock title %}

{% block form %}

<div class="col bg-white p-5 rounded-end">
    <h2 class="fw-bold text-center py-5">Nueva contraseña</h2>
    {% if form.errors %}
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <script>
                    $.alert({
                        title: '',
                        theme:'material',
                        type: 'red',
                        content: '{{ error | escape }}'
                    });
                </script>
                {% endfor %}
                {% endif %}
                {% endfor %}


                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <script>
                        $.alert({
                            title: '¡Importante!',
                            theme:'material',
                            type: 'red',
                            content: '{{ error | escape }}'
                        });
                </script>
                {% endfor %}
                {% endif %}
            {% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="inlineFormInputGroupUsername" class="form-label fw-bolder">Contraseña:</label>
        <input class="form-control" type="password" name="{{form.new_password1.name}}" autocomplete="new-password" required="" id="id_new_password1">
    </div>
    <div class="mb-5">
        <label for="inlineFormInputGroupUsername" class="form-label fw-bolder">Confirmar Contraseña:</label>
        <input class="form-control" type="password" name="{{form.new_password2.name}}" autocomplete="new-password" required="" id="id_new_password2">
    </div>
    <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn1 btn-primary">Restablecer contraseña</button>
    </div>
</form>
</div>
{% endblock form %}