{% extends 'autenticacion/base.html' %} 
{% block title %}Recuperar Contraseña{% endblock title %} 

{% block form %}
<div class="col bg-white p-5 rounded-end">
  <h2 class="fw-bold text-justify py-5">Resetear contraseña</h2>
  <h5 class="fw-bold text-justify pb-4 pt-2">
    Ingresa su correo electrónico y le enviaremos instrucciones para ingresar
    una nueva contraseña
  </h5>
  {% if form.errors %}
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <script>
                    $.alert({
                        title: '',
                        theme:'material',
                        type: 'red',
                        content: '{{ error | escape }}'
                    });
                </script>
                {% endfor %}
                {% endif %}
                {% endfor %}


                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <script>
                        $.alert({
                            title: '¡Importante!',
                            theme:'material',
                            type: 'red',
                            content: '{{ error | escape }}'
                        });
                </script>
                {% endfor %}
                {% endif %}
            {% endif %}
  <form method="POST" class="pb-3">
    {% csrf_token %}
    <label for="inlineFormInputGroupUsername" class="form-label fw-bolder">Correo Electrónico:</label>
    <input class="form-control" type="email" name="{{form.email.name}}" autocomplete="email" maxlength="254" required="" id="id_email">
    <div class="d-grid gap-2">
    <button type="submit" class="btn1 btn-primary">Enviar Correo</button>
    <a class="btn btn-secondary" href="{% url 'SignIn' %}" role="button">Regresar</a>
</div>
  </form>
</div>
{% endblock form %}
