{% extends 'core/base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container p-3">
<h1>Perfil</h1>
<div class="container">
    <label class="fw-bolder">Nombre de Usuario:</label>
<p class="ps-2 pb-2">{{user.username}}</p>
    <label class="fw-bolder">Nombre:</label>
    <p class="ps-2 pb-2">{{user.first_name}} </p>
    <label  class="fw-bolder">Apellido:</label>
    <p class="ps-2 pb-2">{{user.last_name}} </p>
    <label class="fw-bolder">Dirección:</label>
    {% if profile.direccion == null %}<p class="ps-2 pb-2">  </p> {% else %}<p class="ps-2 pb-2">{{profile.direccion}}</p>{% endif %}
    <label class="fw-bolder">Teléfono:</label>
    {% if profile.telefono == null %}<p class="ps-2 pb-2">  </p> {% else %}<p class="ps-2 pb-2">{{profile.telefono}}</p>{% endif %}
    <label class="fw-bolder">Fecha de Nacimiento:</label>
    {% if profile.fechanacimiento == null %}<p class="ps-2 pb-2">  </p> {% else %}<p class="ps-2 pb-2">{{profile.fechanacimiento}}</p>{% endif %}
    {% if role == 'Cliente' and role != 'Mecánico' %}
        <label class="fw-bolder">Ocupación:</label>
        {% if profile.ocupacion == null %}<p class="ps-2 pb-2">  </p> {% else %}<p class="ps-2 pb-2">{{profile.ocupacion}}</p>{% endif %}
    {% else %}
        <label class="fw-bolder">Cargo:</label>
        {% if profile.cargo == null %}<p class="ps-2 pb-2">  </p> {% else %}<p class="ps-2 pb-2">{{profile.cargo}}</p>{% endif %}
    {% endif %}
    <div class="d-grid gap-2 col-6 mx-auto">
        {% if profile.direccion == null %} 
        <a href="{% url 'profileUpdate' %}" role="button" class="btn btn-primary position-relative botonAceptar">
            Añadir información
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <i class="bi bi-exclamation-lg "></i>
              <span class="visually-hidden">Se requiere informacion</span>
            </span>
        </a>
          {% else %}
          <a class="btn btn-primary botonAceptar" href="{% url 'profileUpdate' %}" role="button">Modificar Información</a>
          {% endif %}
    </div>
</div>
</div>
{% endblock %}